@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #CC021B;

.product {
    height: 90%;
    background-color: white;
    width: 20em;
    padding: 2em;
    padding-top: 2.5em;
    padding-bottom: 9em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;

    .product__heartcontainer {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        background-color: rgba(255, 255, 255, 0);
        padding: 0.5em;
        padding-bottom: 1.5em;
        border-radius: 1em;
        z-index: 1;
        opacity: 0;
        transition: 0.3s ease;

        .product__heart {
            cursor: pointer;
            width: 3em;
            height: 3em;
            color: $primary-color;
        }
    }

    img {
        width: 12em !important;
        height: 12em !important;
        border-radius: 2em;
        aspect-ratio: 1/1;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin: 1em auto 0.5em auto;
    }

    .pruduct__stars {
        width: 100%;
    }

    p {
        font-weight: bold;
        opacity: 0.6;  
        width: 15em;
        height: 6em;
        margin: 2em auto 1em auto;
    }

    .product__price {
        height: 3em;
        display: flex;
        flex-direction: column;
        place-content: space-around;
        align-items: center;
        justify-content: center;
        .product__discountprice {
            display: flex;
            place-content: space-between;
            width: 30%;
            margin: 0 auto;
        }

        h3 {
            font-weight: bold;
            font-size: 3em;
        }
    }

    .product__buttons {
        display: flex;
        place-content: space-between;
        width: 80%;
        bottom: 1.5em;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;

        .product__details, .product__cart {
            display: flex;
            color: $primary-color !important;
            border: 2px solid $primary-color;
            padding: 0.2em 0.5em;
            border-radius: 1em;
            cursor: pointer;
            height: 2.5em;
            align-items: center;
            transition: 0.3s ease;  

            &:hover {
                background-color: $primary-color;
                color: #f5f5f5 !important;
            }

            h4 {
                font-size: 1.2em;
                font-weight: bold;
                margin: 0;

                &:hover {
                    color: #f5f5f5 !important;
                }
            }
        }

        .product__cart .product__cartimg {
            width: 1.6em;
            height: 1.6em;
            margin-right: 0.5em;
        }
    }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.product:hover {

    .product__heartcontainer {
        opacity: 1;
    }
}